<div class="max-w-[85rem] px-4 py-2 sm:px-6 lg:px-8 lg:py-2 mx-auto">
    <div class="bg-white border border-gray-200 rounded-xl shadow-sm p-6">
        <!-- Header -->
        <div class="text-center mb-4">
            <h2 class="text-xl font-bold text-gray-800">REKAP NILAI AKHIR {{judul}}</h2>
            <h3 class="text-lg font-bold text-gray-800">{{periode}} TAHUN {{tahun}}</h3>
        </div>

        <!-- Table -->
        <div class="overflow-x-auto">
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-200">
                    <tr class="bg-gray-50">
                        <th class="px-6 py-3 text-center text-sm font-semibold text-gray-500 border border-gray-200">POSISI</th>
                        <th class="px-6 py-3 text-center text-sm font-semibold text-gray-500 border border-gray-200">NAMA/NIP</th>
                        <th class="px-6 py-3 text-center text-sm font-semibold text-gray-500 border border-gray-200">JUMLAH POIN</th>
                        <th class="px-6 py-3 text-center text-sm font-semibold text-gray-500 border border-gray-200">RATA-RATA</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    {{#each riwayatDetailData}}
                        <tr>
                            <td class="px-6 py-4 text-center text-sm text-gray-800 border border-gray-200">{{posisi}}</td>
                            <td class="px-6 py-4 text-gray-800 border border-gray-200">
                                <p class="text-sm font-medium">{{nama}}</p>
                                <p class="text-sm text-gray-500">{{nip}}</p>
                            </td>
                            <td class="px-6 py-4 text-center text-sm text-gray-800 border border-gray-200">{{jmlPoin}}</td>
                            <td class="px-6 py-4 text-center text-sm text-gray-800 border border-gray-200">{{rata2}}</td>
                        </tr>
                    {{/each}}
                    
                </tbody>
            </table>
        </div>

        <!-- Keterangan -->
        <div class="mt-6 space-y-2">
            <p class="text-sm text-gray-600 font-medium">Keterangan Penilaian:</p>
            <ul class="px-6 list-disc pl-5 space-y-1">
                <li class="text-sm text-gray-600">Jumlah poin merupakan akumulasi dari seluruh kategori penilaian</li>
                <li class="text-sm text-gray-600">Rata-rata dihitung dari total poin dibagi jumlah kategori</li>
            </ul>
        </div>

        <!-- Download Button -->
        <div class="mt-6 flex justify-end">
            <button
            onclick="window.location.href='/admin/download_hasil'" 
            type="button" 
            class="py-2 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg bg-orange-500 text-white hover:bg-orange-600">
                <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
                </svg>
                Download Laporan
            </button>
        </div>
    </div>
</div>