<div class="flex flex-col px-6 py-8 w-full rounded-xl border border-solid border-black border-opacity-50 max-w-4xl mx-auto bg-white">
  <div class="flex flex-col">
    <h1 class="text-3xl font-extrabold text-black">
      Detail Pegawai
    </h1>
    <p class="mt-2 text-sm text-gray-700">
      Detail dari setiap karyawan
    </p>
  </div>
  <div class="flex items-center mt-8 gap-8">
    <!-- Foto -->
    <img
      loading="lazy"
      src="{{anggota.foto_profil}}"
      class="object-cover rounded-lg w-40 h-52 border border-gray-300"
      alt="Foto Profil {{anggota.nama}}"
    />
    <!-- Detail Karyawan -->
    <dl class="flex flex-col text-sm text-black">
      {{#with anggota}}
        <div class="flex mb-2">
          <dt class="w-36 font-bold">Nama Karyawan</dt>
          <dd>: {{nama}}</dd>
        </div>
        <div class="flex mb-2">
          <dt class="w-36 font-bold">NIP</dt>
          <dd>: {{nip}}</dd>
        </div>
        <div class="flex mb-2">
          <dt class="w-36 font-bold">Jabatan</dt>
          <dd>: {{jabatan}}</dd>
        </div>
        <div class="flex mb-2">
          <dt class="w-36 font-bold">Tim</dt>
          <dd>: {{divisi}}</dd>
        </div>
        <div class="flex mb-2">
          <dt class="w-36 font-bold">Role</dt>
          <dd>: {{role}}</dd>
        </div>
        <div class="flex mb-2">
          <dt class="w-36 font-bold">Email</dt>
          <dd>: {{email}}</dd>
        </div>
        <div class="flex mb-2">
          <dt class="w-36 font-bold">Jenis Kelamin</dt>
          <dd>: {{jenis_kelamin_display}}</dd>
        </div>
        <div class="flex">
          <dt class="w-36 font-bold">Status</dt>
          <dd>: {{#if status}}Aktif{{else}}Tidak Aktif{{/if}}</dd>
        </div>
      {{/with}}
      
    </dl>
  </div>
  <hr class="mt-6 border-gray-300" />
  <div class="flex justify-end mt-4">
    <button 
    onclick="window.history.back()"
    class="px-4 py-2 bg-white rounded-lg border border-gray-300 shadow-sm text-sm font-medium text-black hover:bg-gray-50">
      Kembali
    </a>
  </div>
</div>