<div class="max-w-[85rem] px-4 py-4 sm:px-6 lg:px-8 lg:py-4 mx-auto">
    <div class="max-w-4xl mb-10">
        <h2 class="text-2xl font-bold md:text-4xl md:leading-tight">
            {{pemilihanTitle}}
        </h2>
    </div>
    <div class="grid sm:grid-cols-1 lg:grid-cols-1 gap-6">
        <div class="group flex flex-col bg-gray-200 border border-black shadow-sm rounded-xl hover:shadow-md transition">
            <div class="p-4 md:p-5">
                <div class="flex justify-between items-center">
                    <div>
                        <h3 class="group-hover:text-gray-900 font-semibold text-black dark:group-hover:text-gray-400">
                            Input Penilaian Pegawai
                        </h3>
                    </div>
                    <div class="ps-3">
                        <button 
                            {{#unless tahapPemilihan}}disabled{{/unless}}
                            onclick="window.location.href='/admin/pemilihan_berlangsung/{{idActivePemilihan}}/input_penilaian'" 
                            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent {{#if tahapPemilihan}}bg-gray-900 text-white hover:bg-gray-700{{else}}bg-gray-500 text-white{{/if}}">
                            Mulai
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="group flex flex-col bg-gray-200 border border-black shadow-sm rounded-xl hover:shadow-md transition">
            <div class="p-4 md:p-5">
                <div class="flex justify-between items-center">
                    <div>
                        <h3 class="group-hover:text-gray-900 font-semibold text-black dark:group-hover:text-gray-400">
                            Voting Tahap 1
                        </h3>
                    </div>
                    <div class="ps-3">
                        <button 
                            {{#unless (or (eq tahapPemilihan 'voting1') (or (eq tahapPemilihan 'voting2') (eq tahapPemilihan 'selesai')))}}disabled{{/unless}}
                            onclick="window.location.href='/admin/pemilihan_berlangsung/input_penilaian'" 
                            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent {{#if (or (eq tahapPemilihan 'voting1') (or (eq tahapPemilihan 'voting2') (eq tahapPemilihan 'selesai')))}}bg-gray-900 text-white hover:bg-gray-700{{else}}bg-gray-500 text-white{{/if}}">
                            Mulai
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="group flex flex-col bg-gray-200 border border-black shadow-sm rounded-xl hover:shadow-md transition">
            <div class="p-4 md:p-5">
                <div class="flex justify-between items-center">
                    <div>
                        <h3 class="group-hover:text-gray-900 font-semibold text-black dark:group-hover:text-gray-400">
                            Penilaian Kriteria
                        </h3>
                    </div>
                    <div class="ps-3">
                        <button 
                            {{#unless (or (eq tahapPemilihan 'voting2') (eq tahapPemilihan 'selesai'))}}disabled{{/unless}}
                            onclick="window.location.href='/admin/pemilihan_berlangsung/input_penilaian'" 
                            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent {{#if (or (eq tahapPemilihan 'voting2') (eq tahapPemilihan 'selesai'))}}bg-gray-900 text-white hover:bg-gray-700{{else}}bg-gray-500 text-white{{/if}}">
                            Mulai
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
